# Složky s dočasnými daty a výsledky syntézy (Vivado je umí vytvořit znovu)
*.cache/
*.hw/
*.sim/
*.runs/
*.ip_user_files/
.Xil/

# Logy a zbytečnosti
*.log
*.jou
*.str
*.os
*.pb

# Vygenerované binárky (pokud je nepotřebujete sdílet)
*.bit
*.bin